@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --de-saturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.info {
    text-align: center;
    padding: 1rem 3.5rem;
    margin-top: 1rem;
}

.info h2 {
    font-weight: 900;
    margin-bottom: .5rem;
    color: var(--dark-blue);
}

.info p {
    line-height: 1.5;
    color: var(--de-saturated-blue);
}

.annual {
    margin: .75rem 1.5rem;
    padding: 1rem;
    display: flex;
    background: var(--very-pale-blue);
    border-radius: 12px;
}

.annual div {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.annual img {
    margin-right: 1rem;
}

.annual h4 {
    margin-bottom: 0.24rem;
    color: var(--dark-blue);
}

.annual p {
    color: var(--de-saturated-blue);
}

.annual a {
    margin-top: .75rem;
}

.change:hover {
    opacity: .7;
    text-decoration: none;
}

.buttons {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons a {
    text-decoration: none;
}

.btn {
    text-align: center;
    border-radius: 12px;
    padding: 1rem;
    margin: .5rem;
}

.blue {
    font-weight: 700;
    background-color: var(--bright-blue);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.blue:hover {
    opacity: .7;
}

.gray {
    color: var(--de-saturated-blue);
    font-weight: 700;
}

.gray:hover {
    color: var(--dark-blue);
}